.flex {display: flex;}


/* Flex Directions */

.flex-row {flex-direction: row;}

.flex-column {flex-direction: column;}

/*                 */


/* Justify Content */

.justify-content-center {justify-content: center;}

/*                 */