/* All Sides */

.p-5 {padding: 5px;}

.p-10 {padding: 10px;}

/*           */


/* Top */

/*     */


/* Bottom */

.pb-10 {padding-bottom: 10px;}

/*        */


/* Left */

.pl-5 {padding-left: 5px;}

.pl-10 {padding-left: 10px;}

/*      */


/* Right */

/*       */


/* Top-Bottom */

.ptb-5 {
    padding-top: 5px;
    padding-bottom: 5px;
}


/*            */


/* Left-Right */

/*            */







