.text-align-center {text-align: center;}

.frame {
    background-color:rgb(23, 12, 87);
    border: 2px solid rgb(226, 112, 6);
    border-right: 2px solid rgb(151, 44, 2);
    border-bottom: 2px solid rgb(151, 44, 2);
}

.force-font {
    font-family: MS Gothic;
}

.border {
    border: 2px solid rgb(226, 112, 6);
    border-right: 2px solid rgb(151, 44, 2);
    border-bottom: 2px solid rgb(151, 44, 2);
}